body{
    margin: 0;
     font-family: "Exo 2", sans-serif;
}
section{
    height: 400px;
}
.top-header{
    background-image: url(images/header-bg.png);
    background-size: contain;
    word-spacing: 3px;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-size: contain;
    font-family: "Story Script", sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    height: 420px;
}
.half-width{
    float: left;
    width: 40%;
    height: 350px;
    margin-left: 10%;
    margin-top: 10px;
}
.bio-txt{
    margin-left: 20px;
}
.half-width img{
    width: 200px;
    border-radius: 7%;
    margin-top: 3px;
    margin-left: 100px;
}
#batman{
    width: 300px;
    height: 400px;
    margin-top: 0;
    margin-left: 30px;
}
#dragon{
    margin-left: 80px;
    width: 250px;
    height: 370px;
}
.red-highlight{
    color: rgb(119, 55, 68);
    font-size: 40px;
}
.blue-highlight{
    color: #5b6bff;
    font-size: 25px;
}
p{
    color: dimgray;
}
.link-buttom{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ebabab, #3b1414);
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
}
.link-buttom-2{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ecee86, #ffae00);
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
}
.link-buttom-3{
    text-decoration: none;
    background-image: linear-gradient( #d0e7fd, #0022e6);
    color: white;
    padding: 20px 50px;
    border-radius: 7px;
    display: inline-block;
    box-shadow: 10px 10px 40px #8a84e4;
}
.h-text{
    margin-top: 60px;
}
.h-text2{
    margin-top: 70px;
    font-size: 45px;
}
.worked{
    background-image: url(images/latest-work-bg.png);
    background-size: cover;
}
#worked{
    text-align: center;
    font-size: 30px;
}
.last-sec{
    text-align: center;
}
#box-p{
    color: white;
    font-size: 12px;
}
footer{
    text-align: center;
    font-size: 12px;
}